@{
    ViewBag.Title = "ホーム ページ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                ASP.NET MVC の詳細については、
<a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a> を参照してください。
ページには、 <mark>ビデオ、チュートリアル、およびサンプルが含まれており、</mark> ASP.NET MVC を最大限に活用するために役立ちます。
ASP.NET MVC について不明な点がある場合は、
<a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC フォーラム">フォーラム</a>を参照してください。
            </p>
        </div>
    </section>
}
<h3>次のことをお勧めします。</h3>
<ol class="round">
    <li class="one">
        <h5>はじめに</h5>
        ASP.NET MVC では、強力なパターンベースの方法で動的な Web サイトを構築できます。
この方法では、楽しく軽快な開発のために、問題点を明確に切り分け、
マークアップを完全に制御できます。ASP.NET MVC は、最新の Web 標準を使用した高度な
アプリケーションを作成するために、短期間での TDD フレンドリな開発を可能にする
多くの機能を備えています。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">詳細...</a>
    </li>

    <li class="two">
        <h5>NuGet パッケージを追加してコーディングを簡単に始める</h5>
        NuGet により、無料のライブラリやツールのインストールと更新が簡単になります。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">詳細...</a>
    </li>

    <li class="three">
        <h5>Web ホスティングを検索する</h5>
        アプリケーションの機能と価格の適切な組み合わせを提供する Web ホスティング会社を
簡単に見つけることができます。
<a href="http://go.microsoft.com/fwlink/?LinkId=245157">詳細...</a>
    </li>
</ol>
